a {
	color: #774F74;
}

body {
	margin: 0px;
	text-align: center;
	background-color: #18302B;
	color: #F7FCFF;
	font-size: 18px;
	font-family: 'Martel', serif;
	font-weight: 200;
}

#header {
	display: flex;
	justify-content: center;
	font-family: 'Ovo', serif;
	font-size: 30px;
	text-decoration: none;
	position: fixed;
	background-color: #7AEFAD;
	color: #15203D;
	width: 100%;
	padding: 20px;

}

#footer {
	background-color: #7AEFAD;
	color: #15203D;
	padding: 30px;
}

#name {
	padding-right: 5px;
}

#socialmediaicons {
	display: flex;
	flex-wrap: no-wrap;
}

.socialmediaicon img {
	max-height: 34px;
	padding-left: 10px;
}

.row {
	text-align: justify;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 100%;
	padding: 100px 50px 100px 50px;
}

.text {
	padding: 30px;
	min-width: 50%;
	max-width: 500px;
}

.image {
	padding: 30px;
}

.image img {
	max-width: 220px;
	max-height: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #18302B;
}

#first {
	padding-top: 160px;
}

#second {
	background-color: #F7FCFF;
	color: #18302B;
	font-weight: 400;
}

#third {

}

#fourth {
	background-color: #F7FCFF;
	color: #18302B;
	font-weight: 400;
}

#fifth {

}